<div class="root">
    <div class="text-root">
        <div class="split name-title-part">
            <span class="name">Alvin MEIMOUN</span><br/>
            <span class="title">Ingénieur études et développement</span>
        </div>

        <div class="split details-part">
            <span class="details">
                Leader technique en développement logiciel<br/>
                Spécialités : Java, .NET, Angular, Mobile
            </span>
        </div>
    </div>

    <div class="links-root">
        <app-social-icon link="https://www.linkedin.com/in/alvinmeimoun" iconClass="fab fa-linkedin"></app-social-icon>
        <app-social-icon link="https://github.com/alvinmeimoun" iconClass="fab fa-github"></app-social-icon>
        <app-social-icon link="https://stackoverflow.com/users/1024368/alvinmeimoun" iconClass="fab fa-stack-overflow"></app-social-icon>
    </div>
</div>