<div class="root" [class.clickable]="data.link" (click)="openLink(data.link)" >
  <div class="logo">
    <img [src]="'assets/' + data.logo" />
  </div>
  <div class="top-text">
      <span class="title">{{ data.title | translate }}</span>
      <span class="company">{{ data.company | translate }}</span>
      <span class="level3">
        <span *ngIf="data.curriculumPeriod">
          {{ ('license.training_period' | translate) + ' : ' + data.curriculumPeriod }}
        </span>
        <span *ngIf="data.graduationDate">
          {{ ('license.degree_obtention_date' | translate) + ' ' + data.graduationDate }}</span>
      </span>
  </div>
  <div class="bottom-content" *ngIf="data.description">
      <span class="description">{{ data.description | translate }}</span>
  </div>
</div>
