$fixed-header-size: 50px;

.fixed-header {
    position: fixed;
    z-index: 1;
    height: $fixed-header-size;
    width: 100%;
    background: black;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: white;

    .name {
        margin-left: 10px;
        font-weight: 700;
    }
}
.app-name-block {
    z-index: 101;
}