$fixed-header-size: 50px;

.fixed-header {
    position: fixed;
    z-index: 1;
    height: $fixed-header-size;
    width: 100%;
    background: black;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: white;

    .space {
        flex-grow: 1;
    }

    .name {
        margin-left: 10px;
        font-weight: 700;
    }

    .translate-root {
        margin-right: 10px;

        span {
            margin-left: 5px;
        }

        span:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.app-name-block {
    z-index: 101;
}