.root {
    padding-left: 10px;
    padding-right: 10px;
    background: #fefefe;
}

.experiences-list {
    margin-top: 10px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}