.section-title {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding-top: 3px;
    margin-bottom: 3px;
}

.subsection-title {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding-top: 3px;
    margin-bottom: 3px;
}