<div class="root">
    <p class="section-title">{{ "license.academic" | translate }}</p>
    <div class="item-list">
        <app-license-item
            *ngFor="let item of academicCurriculum"
            [data]="item"
        ></app-license-item>
    </div>
    <p class="section-title">{{ "license.certifications" | translate }}</p>
    <div class="item-list">
        <app-license-item
            *ngFor="let item of certifications"
            [data]="item"
        ></app-license-item>
    </div>
</div>